<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>edu.psu.macoslaps-check</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/laps/macOSLAPS</string>
  </array>
  <key>StartInterval</key>
  <integer>5400</integer>
</dict>
</plist>
